In [43]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import euclidean

# Creating the datasets as per the image.
data = {
    "Dataset I": {
        "x": [10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5],
        "y": [8.04, 6.95, 7.58, 8.81, 8.33, 9.96, 7.24, 4.26, 10.84, 4.82, 5.68]
    },
    "Dataset II": {
        "x": [10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5],
        "y": [9.14, 8.14, 8.74, 8.77, 9.26, 8.10, 6.13, 3.10, 9.13, 7.26, 4.74]
    },
    "Dataset III": {
        "x": [10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5],
        "y": [7.46, 6.77, 12.74, 7.11, 7.81, 8.84, 6.08, 5.39, 8.15, 6.42, 5.73]
    }
}

# Convert to DataFrame
df1 = pd.DataFrame(data["Dataset I"])
df2 = pd.DataFrame(data["Dataset II"])
df3 = pd.DataFrame(data["Dataset III"])

In [44]:
df1

     x      y
0   10   8.04
1    8   6.95
2   13   7.58
3    9   8.81
4   11   8.33
5   14   9.96
6    6   7.24
7    4   4.26
8   12  10.84
9    7   4.82
10   5   5.68

In [45]:
mean_x1 = df1["x"].mean()
mean_y1 = df1["y"].mean()

In [46]:
print(mean_x1)

9.0

In [47]:
print(mean_y1)

7.500909090909093

In [48]:
df1["x_minus_mean"] = df1["x"] - df1["x"].mean()

In [49]:
df1["y_minus_mean"] = df1["y"] - df1["y"].mean()

In [50]:
df1["x_minus_mean2"] = (df1["x_minus_mean"]*df1["x_minus_mean"])

In [51]:
df1["y_minus_mean2"] = (df1["y_minus_mean"]*df1["y_minus_mean"])

In [52]:
df1["x_minus_mean2"].sum()

110.0

In [53]:
df1["y_minus_mean2"].sum()

41.27269090909091

In [54]:
df1["x-m*y-m"] = (df1["x_minus_mean"]*df1["y_minus_mean"])

In [55]:
df1["x-m*y-m"].sum()

55.010000000000005

In [56]:
df1["x"].var()

11.0

In [57]:
df1["y"].var()

4.127269090909091

In [58]:
df1['y'].quantile([0.25, 0.5, 0.75])

0.25    6.315
0.50    7.580
0.75    8.570
Name: y, dtype: float64

In [59]:
df1

,x,y,x_minus_mean,y_minus_mean,x_minus_mean2,y_minus_mean2,x-m*y-m
0,10,8.04,1.0,0.539091,1.0,0.290619,0.539091
1,8,6.95,-1.0,-0.550909,1.0,0.303501,0.550909
2,13,7.58,4.0,0.079091,16.0,0.006255,0.316364
3,9,8.81,0.0,1.309091,0.0,1.713719,0.000000
4,11,8.33,2.0,0.829091,4.0,0.687392,1.658182
5,14,9.96,5.0,2.459091,25.0,6.047128,12.295455
6,6,7.24,-3.0,-0.260909,9.0,0.068074,0.782727
7,4,4.26,-5.0,-3.240909,25.0,10.503492,16.204545
8,12,10.84,3.0,3.339091,9.0,11.149528,10.017273
9,7,4.82,-2.0,-2.680909,4.0,7.187274,5.361818
10,5,5.68,-4.0,-1.820909,16.0,3.315710,7.283636

In [60]:
df2

     x     y
0   10  9.14
1    8  8.14
2   13  8.74
3    9  8.77
4   11  9.26
5   14  8.10
6    6  6.13
7    4  3.10
8   12  9.13
9    7  7.26
10   5  4.74

In [61]:
mean_x2 = df2["x"].mean()
mean_y2 = df2["y"].mean()

In [62]:
print(mean_x2)

9.0

In [63]:
print(mean_y2)

7.50090909090909

In [64]:
df2["x_minus_mean"] = df2["x"] - df2["x"].mean()
df2["y_minus_mean"] = df2["y"] - df2["y"].mean()
df2["x_minus_mean2"] = (df2["x_minus_mean"]*df2["x_minus_mean"])
df2["y_minus_mean2"] = (df2["y_minus_mean"]*df2["y_minus_mean"])
df2["x-m*y-m"] = (df2["x_minus_mean"]*df2["y_minus_mean"])

In [65]:
df2["x_minus_mean2"].sum()

110.0

In [66]:
df2["y_minus_mean2"].sum()

41.27629090909091

In [67]:
df2["x-m*y-m"].sum()

54.99999999999999

In [68]:
df2['y'].quantile([0.25, 0.5, 0.75])

0.25    6.695
0.50    8.140
0.75    8.950
Name: y, dtype: float64

In [69]:
df3["x_minus_mean"] = df3["x"] - df3["x"].mean()
df3["y_minus_mean"] = df3["y"] - df3["y"].mean()
df3["x_minus_mean2"] = (df3["x_minus_mean"]*df3["x_minus_mean"])
df3["y_minus_mean2"] = (df3["y_minus_mean"]*df3["y_minus_mean"])
df3["x-m*y-m"] = (df3["x_minus_mean"]*df3["y_minus_mean"])

In [70]:
df3["y"].mean()

7.5

In [71]:
df3["x_minus_mean2"].sum()

110.0

In [72]:
df3["y_minus_mean2"].sum()

41.226200000000006

In [73]:
df3["x-m*y-m"].sum()

54.97

In [74]:
df3['y'].quantile([0.25, 0.5, 0.75])

0.25    6.25
0.50    7.11
0.75    7.98
Name: y, dtype: float64

In [75]:
df3

,x,y,x_minus_mean,y_minus_mean,x_minus_mean2,y_minus_mean2,x-m*y-m
0,10,7.46,1.0,-0.04,1.0,0.0016,-0.04
1,8,6.77,-1.0,-0.73,1.0,0.5329,0.73
2,13,12.74,4.0,5.24,16.0,27.4576,20.96
3,9,7.11,0.0,-0.39,0.0,0.1521,-0.00
4,11,7.81,2.0,0.31,4.0,0.0961,0.62
5,14,8.84,5.0,1.34,25.0,1.7956,6.70
6,6,6.08,-3.0,-1.42,9.0,2.0164,4.26
7,4,5.39,-5.0,-2.11,25.0,4.4521,10.55
8,12,8.15,3.0,0.65,9.0,0.4225,1.95
9,7,6.42,-2.0,-1.08,4.0,1.1664,2.16
10,5,5.73,-4.0,-1.77,16.0,3.1329,7.08

# coorel

In [76]:
df = pd.DataFrame()
df["y1"] = pd.DataFrame(df1["y"])
df["y2"] = pd.DataFrame(df2["y"])
df["y3"] = pd.DataFrame(df3["y"])

In [77]:
df["y1"].mean()

7.500909090909093

In [78]:
df["y2"].mean()

7.50090909090909

In [79]:
df["y3"].mean()

7.5

In [80]:
# df["y1_minus_mean"] = df["y1"] - df["y1"].mean()
# df["y2_minus_mean"] = df["y2"] - df["y2"].mean()
# df["y3_minus_mean"] = df["y3"] - df["y3"].mean()

In [81]:
# df["y1_minus_mean2"] = df["y1_minus_mean"]**2
# df["y2_minus_mean2"] = df["y2_minus_mean"]**2
# df["y3_minus_mean2"] = df["y3_minus_mean"]**2

In [82]:
# df["y1-m * y2-m"] = df["y1_minus_mean"]*df["y2_minus_mean"]
# df["y1-m * y3-m"] = df["y1_minus_mean"]*df["y3_minus_mean"]
# df["y2-m * y2-m"] = df["y2_minus_mean"]*df["y3_minus_mean"]

In [83]:
# df["y1-m * y2-m"].mean()

In [84]:
# df["y1-m * y2-m"].mean()

In [85]:
# df["y1-m * y2-m"].mean()

In [87]:
df["y1^2"] = df["y1"]**2
df["y2^2"] = df["y2"]**2
df["y3^^2"] = df["y3"]**2

In [91]:
df["y1^2"].sum()

659.9762000000001

In [92]:
df["y2^2"].sum()

660.1762999999999

In [93]:
df["y3^^2"].sum()

659.9762000000001

In [95]:
df["y1 * y2"] = df["y1"]*df["y2"]
df["y1 * y3"] = df["y1"]*df["y3"]
df["y2 * y3"] = df["y2"]*df["y3"]

In [99]:
df["y1 * y2"].sum()

649.8561

In [100]:
df["y1 * y3"].sum()

638.1592999999999

In [101]:
df["y2 * y3"].sum()

643.0774

In [102]:
df

,y1,y2,y3,y1^2,y2^2,y3^^2,y1 * y2,y1 * y3,y2 * y3
0,8.04,9.14,7.46,64.6416,83.5396,55.6516,73.4856,59.9784,68.1844
1,6.95,8.14,6.77,48.3025,66.2596,45.8329,56.5730,47.0515,55.1078
2,7.58,8.74,12.74,57.4564,76.3876,162.3076,66.2492,96.5692,111.3476
3,8.81,8.77,7.11,77.6161,76.9129,50.5521,77.2637,62.6391,62.3547
4,8.33,9.26,7.81,69.3889,85.7476,60.9961,77.1358,65.0573,72.3206
5,9.96,8.10,8.84,99.2016,65.6100,78.1456,80.6760,88.0464,71.6040
6,7.24,6.13,6.08,52.4176,37.5769,36.9664,44.3812,44.0192,37.2704
7,4.26,3.10,5.39,18.1476,9.6100,29.0521,13.2060,22.9614,16.7090
8,10.84,9.13,8.15,117.5056,83.3569,66.4225,98.9692,88.3460,74.4095
9,4.82,7.26,6.42,23.2324,52.7076,41.2164,34.9932,30.9444,46.6092
10,5.68,4.74,5.73,32.2624,22.4676,32.8329,26.9232,32.5464,27.1602